@import '/src/assets/styles/variable';

.topheader-wrapper {
	background-color: $white;
	color: $primary;

	.header {
		background: $black;
		padding: 0 20px;
		height: 70px;

		.navbar {
			gap: 30px;
		}
	}
}
